extends layout 

block content 

    header

    body(class="body bg-success")
        div(class="container bg-light shadow main-content")
            div(class="m-3 p-3 text-center")
                h1(class="my-2") Deje su mensaje
 
                    form(method="POST" action="/new" class="my-5")
                        input(name="username" type="text" placeholder="name" class="form-control")
                        br 
                        input(name="msg" type="text" placeholder="message" class="form-control")
                        br
                        div(class="text-center")
                            button(type="submit" class="btn btn-success btn-block w-100") Enviar